Repository DSGT-DLP/Deep-Learning-Playground, changes with the owners that CODEOWNERS names for each.
All owners: @karkir0003, @farisdurrani, @LucasZhang58, @vidushiMaheshwari

test message
  frontend/playground-frontend/src/components/Footer/Footer.css
  frontend/playground-frontend/src/components/Navbar/Navbar.js
Owners: @farisdurrani

chaining workflow attempt
  .github/workflows/aws.yml
Owners: none

Delete requirements.txt
  requirements.txt
Owners: none

modified the Footer.js WIP
  frontend/playground-frontend/src/components/Footer/Footer.css
  frontend/playground-frontend/src/components/Footer/Footer.js
Owners: @farisdurrani

generating requirements.txt
  requirements.txt
Owners: none

wait on check github action testing
  .github/workflows/aws.yml
Owners: none

Delete requirements.txt
  requirements.txt
Owners: none

debugging
  .github/workflows/aws.yml
Owners: none

generating requirements.txt
  requirements.txt
Owners: none

Update aws.yml
  .github/workflows/aws.yml
Owners: none

Delete requirements.txt
  requirements.txt
Owners: none

permission fix
  .github/workflows/aws.yml
Owners: none

permissions
  .github/workflows/aws.yml
Owners: none

use PAT instead of github token
  .github/workflows/aws.yml
Owners: none

generating requirements.txt
  requirements.txt
Owners: none

version fix - lewagon
  .github/workflows/aws.yml
Owners: none

Update aws.yml
  .github/workflows/aws.yml
Owners: none

Update aws.yml
  .github/workflows/aws.yml
Owners: none

Delete requirements.txt
  requirements.txt
Owners: none

version fix
  .github/workflows/aws.yml
Owners: none

version fix
  .github/workflows/aws.yml
Owners: none

check name fixed
  .github/workflows/aws.yml
Owners: none

generating requirements.txt
  requirements.txt
Owners: none

reduce wait time between requests to checks api
  .github/workflows/aws.yml
Owners: none

validate that requirements.txt exists
  .github/workflows/python-package-conda.yml
Owners: none

prod deploy branch condition
  .github/workflows/aws.yml
Owners: none

finished issue #74, added ability to save both classification and regression models to a pt file and enabled user to download it in frontend (need help confirm that it's downloable though)
  backend/constants.py
  backend/dl_results.csv
  backend/dl_trainer.py
  backend/test.py
  frontend/playground-frontend/src/Home.js
  frontend/playground-frontend/src/backend_outputs/model.pt
  frontend/playground-frontend/src/backend_outputs/my_deep_learning_model.onnx
  frontend/playground-frontend/src/backend_outputs/visualization_output/my_accuracy_plot.png
  frontend/playground-frontend/src/backend_outputs/visualization_output/my_confusion_matrix.png
  frontend/playground-frontend/src/backend_outputs/visualization_output/my_loss_plot.png
Owners: @karkir0003, @farisdurrani

Checked transformation sequence
  backend/constants.py
  backend/dataset.py
  conda/environment.yml
  tests/test_zip_loader.py
Owners: @karkir0003, @vidushiMaheshwari

Linked title and logo to homepage + installed react-fa
  frontend/playground-frontend/package-lock.json
  frontend/playground-frontend/package.json
  frontend/playground-frontend/src/App.css
  frontend/playground-frontend/src/components/Navbar/Navbar.js
Owners: @farisdurrani

Make the send_email function more general
  backend/constants.py
  backend/dl_results.csv
  backend/driver.py
  backend/email_notifier.py
  frontend/playground-frontend/src/backend_outputs/my_deep_learning_model.onnx
  frontend/playground-frontend/src/backend_outputs/visualization_output/my_accuracy_plot.png
  frontend/playground-frontend/src/backend_outputs/visualization_output/my_loss_plot.png
Owners: @karkir0003, @farisdurrani

update github action requirements.txt
  .github/workflows/python-package-conda.yml
Owners: none

build check fix
  .github/workflows/python-package-conda.yml
Owners: none

Added transformations classes
  backend/constants.py
Owners: @karkir0003

Fixed minor import issue for CONFUSION_VIZ constant
  backend/dl_results.csv
  backend/dl_trainer.py
  backend/utils.py
  frontend/playground-frontend/src/backend_outputs/my_deep_learning_model.onnx
  frontend/playground-frontend/src/backend_outputs/visualization_output/my_accuracy_plot.png
  frontend/playground-frontend/src/backend_outputs/visualization_output/my_confusion_matrix.png
  frontend/playground-frontend/src/backend_outputs/visualization_output/my_loss_plot.png
Owners: @karkir0003, @farisdurrani

Got rid of selenium and sendgrid dependcies
  backend/dl_results.csv
  conda/environment.yml
  frontend/playground-frontend/src/backend_outputs/my_deep_learning_model.onnx
  frontend/playground-frontend/src/backend_outputs/visualization_output/my_accuracy_plot.png
  frontend/playground-frontend/src/backend_outputs/visualization_output/my_loss_plot.png
  requirements.txt
Owners: @karkir0003, @farisdurrani

CODEOWNERS:

# These owners will be the default owners for everything in

# the repo. Unless a later match takes precedence,

# the contributors all will be requested for

# review when someone opens a pull request.

-       @karkir0003 @farisdurrani @LucasZhang58

#For files in the /backend directory, @karkir0003 will be requested in a pull request
/backend @karkir0003

#For files in the /frontend directory, @farisdurrani will be requested in such a pull request
/frontend @farisdurrani

#For unit tests, @LucasZhang58 and @karkir0003 will be requested in such a pull request
/tests/test_data_processing.py @LucasZhang58 @karkir0003
/tests/test_zip_loader.py @vidushiMaheshwari
/tests/expected/unzipped/double_zipped @vidushiMaheshwari

#@anikethswain built the About page, implemented the external CSS for the About page, fixed rendering 
issues with the navbar, and helped in building the navbar component.
