Repository DSGT-DLP/Deep-Learning-Playground, changes with the owners that CODEOWNERS names for each.
All owners: @karkir0003, @farisdurrani, @LucasZhang58, @avayedawadi, @vidushiMaheshwari, @andrewpeng02, @samarth52, @anikethswain

added default arguments for creating gsi
  backend/aws_helpers/dynamo_db_utils/base_db.py
  backend/aws_helpers/dynamo_db_utils/execution_db.py
Owners: @samarth52, @karkir0003

added VGG
  backend/dl/pretrained.py
  frontend/playground-frontend/src/settings.js
Owners: @vidushiMaheshwari, @farisdurrani

added useffect for setting columns from default + columns for IRIS dataset in settings
  frontend/playground-frontend/package-lock.json
  frontend/playground-frontend/src/Home.js
  frontend/playground-frontend/src/settings.js
Owners: @farisdurrani

added backend support in driver.py
  backend/common/default_datasets.py
  backend/driver.py
  frontend/playground-frontend/src/backend_outputs/model.pt
  frontend/playground-frontend/src/backend_outputs/my_deep_learning_model.onnx
  frontend/playground-frontend/src/settings.js
Owners: @karkir0003, @farisdurrani, @andrewpeng02, @avayedawadi, @samarth52

added columns to all default datasets except digits
  frontend/playground-frontend/src/Home.js
  frontend/playground-frontend/src/settings.js
Owners: @farisdurrani

fix for prod to work
  backend/image_data_uploads/better_zipped.zip
  backend/image_data_uploads/double_zipped.zip
  frontend/playground-frontend/src/components/helper_functions/TalkWithBackend.js
Owners: @karkir0003, @farisdurrani

remove unnecessary code
  frontend/playground-frontend/src/App.js
Owners: @farisdurrani

configured target column and features to change to null when columns are changed
  frontend/playground-frontend/src/Home.js
Owners: @farisdurrani

fix socket to match prod-deploy. We don't providde any arguments for socket instantiation in TalkWithBackend.js
  frontend/playground-frontend/src/backend_outputs/model.pt
  frontend/playground-frontend/src/backend_outputs/my_deep_learning_model.onnx
  frontend/playground-frontend/src/components/helper_functions/TalkWithBackend.js
Owners: @farisdurrani

Update TalkWithBackend.js
  frontend/playground-frontend/src/components/helper_functions/TalkWithBackend.js
Owners: @farisdurrani

made minor change to trigger workflow
  backend/driver.py
Owners: @farisdurrani, @andrewpeng02, @avayedawadi, @samarth52

Added build_env script
  .aws/build_env.py
  frontend/playground-frontend/src/components/Feedback/Feedback.js
Owners: @karkir0003, @farisdurrani, @LucasZhang58

Removed empty string from io()
  frontend/playground-frontend/src/components/helper_functions/TalkWithBackend.js
Owners: @farisdurrani

Typo
  .aws/build_env.py
Owners: @karkir0003, @farisdurrani, @LucasZhang58

changed path and fixed KeyError
  .aws/build_env.py
Owners: @karkir0003, @farisdurrani, @LucasZhang58

fixed .env file path
  .aws/build_env.py
Owners: @karkir0003, @farisdurrani, @LucasZhang58

AWS_REGION referring to constants
  .aws/build_env.py
Owners: @karkir0003, @farisdurrani, @LucasZhang58

refactor the build_env.py script
  .aws/aws_constants.py
  .aws/build_env.py
Owners: @karkir0003, @farisdurrani, @LucasZhang58

Fixed order of imports
  .aws/build_env.py
Owners: @karkir0003, @farisdurrani, @LucasZhang58

refactor the build_env.py script (#277)
  .aws/aws_constants.py
  .aws/build_env.py
Owners: @karkir0003, @farisdurrani, @LucasZhang58

Added AWS_REGION
  .aws/aws_constants.py
Owners: @karkir0003, @farisdurrani, @LucasZhang58

Minor reordering of readme
  README.md
Owners: @karkir0003, @farisdurrani, @LucasZhang58

Fixed key='val"
  .aws/build_env.py
Owners: @karkir0003, @farisdurrani, @LucasZhang58

Changed email route to use socket
  frontend/playground-frontend/src/components/Feedback/Feedback.js
Owners: @farisdurrani

Minor changes to execution db
  backend/aws_helpers/dynamo_db_utils/execution_db.py
  frontend/playground-frontend/package.json
Owners: @karkir0003, @farisdurrani

separated socket sessions and added range
  backend/driver.py
  frontend/playground-frontend/src/backend_outputs/model.pt
  frontend/playground-frontend/src/backend_outputs/my_deep_learning_model.onnx
  frontend/playground-frontend/src/components/Home/AddedLayer.js
  frontend/playground-frontend/src/components/general/LargeFileUpload.js
  frontend/playground-frontend/src/components/helper_functions/TalkWithBackend.js
  frontend/playground-frontend/src/constants.js
  frontend/playground-frontend/src/settings.js
Owners: @farisdurrani, @andrewpeng02, @avayedawadi, @samarth52

added parameter validation for model architecture
  frontend/playground-frontend/src/backend_outputs/model.pt
  frontend/playground-frontend/src/backend_outputs/my_deep_learning_model.onnx
  frontend/playground-frontend/src/components/Home/TrainButton.js
  frontend/playground-frontend/src/components/helper_functions/TrainButtonFunctions.js
  frontend/playground-frontend/src/settings.js
Owners: @farisdurrani

updated train name and the size of box
  frontend/playground-frontend/src/components/Home/Input.js
  frontend/playground-frontend/src/components/ImageModels/ImageModels.js
Owners: @farisdurrani

added validator for transforms and special case for Resize
  backend/image_data_uploads/better_zipped.zip
  backend/image_data_uploads/double_zipped.zip
  frontend/playground-frontend/src/Home.js
  frontend/playground-frontend/src/backend_outputs/model.pt
  frontend/playground-frontend/src/components/Home/CSVInputURL.js
  frontend/playground-frontend/src/components/Home/TrainButton.js
  frontend/playground-frontend/src/components/ImageModels/ImageModels.js
  frontend/playground-frontend/src/components/ImageModels/Transforms.js
  frontend/playground-frontend/src/components/helper_functions/TrainButtonFunctions.js
  frontend/playground-frontend/src/constants.js
  frontend/playground-frontend/src/settings.js
Owners: @karkir0003, @farisdurrani

Prettified Code!
  frontend/playground-frontend/src/components/Home/TrainButton.js
  frontend/playground-frontend/src/components/helper_functions/TrainButtonFunctions.js
  frontend/playground-frontend/src/constants.js
  frontend/playground-frontend/src/settings.js
Owners: @farisdurrani

changed error message
  frontend/playground-frontend/src/backend_outputs/model.pt
  frontend/playground-frontend/src/backend_outputs/my_deep_learning_model.onnx
  frontend/playground-frontend/src/components/helper_functions/TrainButtonFunctions.js
Owners: @farisdurrani

Prettified Code!
  frontend/playground-frontend/src/components/helper_functions/TrainButtonFunctions.js
Owners: @farisdurrani

Added build env in Dockerfile
  Dockerfile
Owners: @karkir0003, @farisdurrani, @LucasZhang58

Pulled latest changes
  backend/driver.py
  frontend/playground-frontend/src/Home.js
  frontend/playground-frontend/src/components/Home/AddedLayer.js
  frontend/playground-frontend/src/components/Home/CSVInputURL.js
  frontend/playground-frontend/src/components/Home/Input.js
  frontend/playground-frontend/src/components/Home/TrainButton.js
  frontend/playground-frontend/src/components/ImageModels/ImageModels.js
  frontend/playground-frontend/src/components/ImageModels/Transforms.js
  frontend/playground-frontend/src/components/general/LargeFileUpload.js
  frontend/playground-frontend/src/components/helper_functions/TalkWithBackend.js
  frontend/playground-frontend/src/components/helper_functions/TrainButtonFunctions.js
  frontend/playground-frontend/src/constants.js
  frontend/playground-frontend/src/settings.js
Owners: @farisdurrani, @andrewpeng02, @avayedawadi, @samarth52

Prettified Code!
  frontend/playground-frontend/src/components/Feedback/Feedback.js
Owners: @farisdurrani

.env File Generation Script (#282)
  .aws/aws_constants.py
  .aws/build_env.py
  Dockerfile
  README.md
  frontend/playground-frontend/src/backend_outputs/model.pt
  frontend/playground-frontend/src/backend_outputs/my_deep_learning_model.onnx
  frontend/playground-frontend/src/components/Feedback/Feedback.js
Owners: @karkir0003, @farisdurrani, @LucasZhang58

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# the contributors all will be requested for
# review when someone opens a pull request.

*       @karkir0003 @farisdurrani @LucasZhang58

# 
# Backend
# 

# For files in the /backend directory, @karkir0003 will be requested in a pull request
/backend @karkir0003
/backend/common/email_notifier.py @avayedawadi
/backend/common/dataset.py @vidushiMaheshwari
/backend/driver.py @farisdurrani @andrewpeng02 @avayedawadi @samarth52
/backend/dl/pretrained.py @vidushiMaheshwari
/backend/aws_helpers/dynamo_db_utils/base_db.py @samarth52
/backend/aws_helpers/dynamo_db_utils/status_db.py @karkir0003 @samarth52


# For unit tests, @LucasZhang58 and @karkir0003 will be requested in such a pull request
/tests/test_data_processing.py @LucasZhang58 @karkir0003
/tests/test_zip_loader.py @vidushiMaheshwari
/tests/test_pretrained_train.py @andrewpeng02
/tests/expected/unzipped/double_zipped @vidushiMaheshwari

#
# Frontend
#

# For files in the /frontend directory, @farisdurrani will be requested in such a pull rewuest
/frontend @farisdurrani

# For the About page and Navbar, contact @anikethswain
/frontend/playground-frontend/components/About @anikethswain
/frontend/playground-frontend/components/NavBar @anikethswain
/frontend/playground-frontend/components/helper_functions/TalkWithBackend @farisdurrani @samarth52
/frontend/playground-frontend/components/Home/TrainButton @farisdurrani @samarth52
/frontend/playground-frontend/components/ImageModels @vidushiMaheshwari
